extends layout
mixin formInput(labelText, name, type, value)
    label=labelText
        input(type=type name=name value=value)
        
block content
    form(method='POST' action=`/park/edit/${park.id}`)
        input(type='hidden' name='_csrf' value=csrfToken)
        +formInput('Park Name', "parkName",'text', park.parkName)
        +formInput('City', "city",'text', park.city)
        +formInput('Province/State', "provinceState",'text', park.provinceState)
        +formInput('Country', "country", 'text', park.country)
        +formInput('Opened', "opened",'date', park.opened)
        +formInput('Size', "size",'text', park.size)
        label Description
            textarea(name="description")=park.description
        input(type='submit' value="Add Park") 

